.aim {
	opacity: 0.3;

	&__first {
		position: relative;
		width: 798px;
		height: 716px;

		@media screen and (max-width: 1200px) {
			width: 638px;
			height: 572px;
		}

		@media screen and (max-width: 991px) {
			width: 510px;
			height: 457px;
		}

		@media screen and (max-width: 767px) {
			width: 408px;
			height: 365px;
		}

		@media screen and (max-width: 575px) {
			width: 326px;
			height: 292px;
		}

		@media screen and (max-width: 450px) {
			width: 252px;
			height: 252px;
		}

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			pointer-events: none;
			transition: 0.3s ease all 0s;
		}

		&::before {
			background: url(../img/main/aim/5.png) no-repeat center/cover;
			width: 798px;
			height: 716px;
			animation: right-rotate 30s ease-in-out infinite;

			@media screen and (max-width: 1200px) {
				width: 638px;
				height: 572px;
			}

			@media screen and (max-width: 991px) {
				width: 510px;
				height: 457px;
			}

			@media screen and (max-width: 767px) {
				width: 408px;
				height: 365px;
			}

			@media screen and (max-width: 575px) {
				width: 326px;
				height: 292px;
			}

			@media screen and (max-width: 450px) {
				width: 252px;
				height: 252px;
			}
		}

		&::after {
			width: 623px;
			height: 625px;
			background: url(../img/main/aim/1.png) no-repeat center/cover;
			animation: left-rotate 20s ease-in-out infinite;

			@media screen and (max-width: 1200px) {
				width: 498px;
				height: 500px;
			}

			@media screen and (max-width: 991px) {
				width: 398px;
				height: 398px;
			}

			@media screen and (max-width: 767px) {
				width: 318px;
				height: 318px;
			}

			@media screen and (max-width: 575px) {
				width: 254px;
				height: 254px;
			}

			@media screen and (max-width: 450px) {
				width: 219px;
				height: 219px;
			}
		}
	}

	&__second {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 358px;
		height: 358px;
		pointer-events: none;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: 0.3s ease all 0s;
		}

		&::before {
			width: 485px;
			height: 483px;
			background: url(../img/main/aim/4.png) no-repeat center/cover;
			animation: right-rotate 15s ease-in-out infinite;

			@media screen and (max-width: 1200px) {
				width: 388px;
				height: 386px;
			}

			@media screen and (max-width: 991px) {
				width: 310px;
				height: 310px;
			}

			@media screen and (max-width: 767px) {
				width: 248px;
				height: 248px;
			}

			@media screen and (max-width: 575px) {
				width: 198px;
				height: 198px;
			}

			@media screen and (max-width: 450px) {
				width: 172px;
				height: 172px;
			}
		}

		&::after {
			width: 366px;
			height: 366px;
			background: url(../img/main/aim/3.png) no-repeat center/cover;
			animation: left-rotate 10s ease-in-out infinite;

			@media screen and (max-width: 1200px) {
				width: 292px;
				height: 292px;
			}

			@media screen and (max-width: 991px) {
				width: 233px;
				height: 233px;
			}

			@media screen and (max-width: 767px) {
				width: 186px;
				height: 186px;
			}

			@media screen and (max-width: 575px) {
				width: 148px;
				height: 148px;
			}

			@media screen and (max-width: 450px) {
				width: 128px;
				height: 128px;
			}
		}
	}
}