.catalog {
	padding: 49px 0;

	&__container {
		@media screen and (max-width: 767px) {
			padding: 0;
		}
	}

	&__title {
		@media screen and (max-width: 767px) {
			padding: 0 10px;
		}
	}

	&__cards {
		padding: 88px 0 82px;
		max-width: 1125px;
		margin: 0 auto;
		position: relative;

		@media screen and (max-width: 767px) {
			padding: 36px 0;
		}

		.slick-list {
			overflow-y: visible;
			@media screen and (min-width: 768px) {
				mask-image: linear-gradient(to right, #0b0b0b 81.77%, rgba(11, 11, 11, 0) 96%);
			}

			@media screen and (max-width: 450px) {
				padding: 20px 0 0;
			}
		}

		.slick-track {
			display: flex;
			align-items: center;

			@media screen and (max-width: 767px) {
				margin: 0;
			}
		}

		.slick-arrow {
			transform: translate(0, -46px);
		}

		.slick-dots {
			padding: 30px 0;

			@media screen and (max-width: 575px) {
				padding: 18px 0 4px;
				max-width: 276px;
				margin: 0 auto;
			}
		}
	}

	&__button {
		width: 213px;
		padding: 20.5px 0;
		margin: 0 auto;

		@media screen and (max-width: 450px) {
			width: 93.8%;
		}
	}
}

.card-item {
	flex: 0 0 392px;
	padding: 0 15px;
	margin: 0 -19px;
	transform: scale(0.8);
	transition: 0.5s ease all 0s;
	&:focus {
		outline: none;
	}

	@media screen and (max-width: 991px) {
		flex: 0 0 353px;
	}

	@media screen and (max-width: 767px) {
		flex: 0 0 310px;
		margin: 0 -17px;
	}

	@media screen and (max-width: 575px) {
		flex: 0 0 248px;
	}

	@media screen and (max-width: 450px) {
		flex: 0 0 205px;
	}

	&.slick-current {
		transform: scale(1);

		.card-item__button {
			background: $bg-color;
		}
	}

	&__wrapper {
		background: $card-color;
	}

	&__top {
		display: flex;
		justify-content: center;
		margin-bottom: 37px;
		position: relative;

		@media screen and (max-width: 991px) {
			margin-bottom: 25px;
		}
	}

	&__left,
	&__right {
		position: absolute;
		top: 8px;

		@media screen and (max-width: 450px) {
			top: 7px;
		}
	}

	&__left {
		left: 11px;

		@media screen and (max-width: 575px) {
			left: 6px;
		}
	}

	&__right {
		right: 11px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@media screen and (max-width: 575px) {
			right: 6px;
		}
	}

	&__bottom-right {
		position: absolute;
		right: 0;
		bottom: 8px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__bottom-left {
		position: absolute;
		left: 0;
		bottom: 8px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__point {
		padding: 5px;

		@media screen and (max-width: 450px) {
			padding: 3px;
		}

		&::before {
			content: "";
			border-radius: 50%;
			background: $bg-color;
			display: block;
			width: 10px;
			height: 10px;

			@media screen and (max-width: 450px) {
				width: 6px;
				height: 6px;
			}
		}
	}

	&__img {
		width: 100%;
		max-width: 286px;
		padding: 38px 0px 11px 0px;
		transition: 0.3s ease all 0s;

		@media screen and (max-width: 991px) {
			padding: 38px 0px 0 0px;
		}

		@media screen and (max-width: 767px) {
			max-width: 229px;
			padding-top: 25px;
		}

		@media screen and (max-width: 575px) {
			max-width: 183px;
		}

		@media screen and (max-width: 450px) {
			max-width: 125px;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__rect {
		padding: 5px;

		@media screen and (max-width: 450px) {
			padding: 3px;
		}

		&::before {
			content: "";
			border-radius: 40px;
			background: $bg-color;
			display: block;
			width: 30px;
			height: 10px;

			@media screen and (max-width: 450px) {
				width: 20px;
				height: 6px;
			}
		}
	}

	&__rect-vert {
		padding: 5px;

		@media screen and (max-width: 450px) {
			padding: 3px;
		}

		&::before {
			content: "";
			border-radius: 40px;
			background: $bg-color;
			display: block;
			width: 10px;
			height: 30px;

			@media screen and (max-width: 450px) {
				width: 6px;
				height: 20px;
			}
		}
	}

	&__body {
		transition: 0.3s ease all 0s;
		padding: 0 24px 36px;

		@media screen and (max-width: 991px) {
			padding: 0 24px 16px;
		}

		@media screen and (max-width: 767px) {
			padding: 0 20px 10px;
		}

		@media screen and (max-width: 575px) {
			padding: 0 10px 20px;
		}
	}

	&__name {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 18px;

		@media screen and (max-width: 1440px) {
			font-size: calc(12px + 8 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(30 / 20);
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 13px;
		}
	}

	&__table {
		display: flex;
		justify-content: space-between;
		margin: 0 -5px;

		@media screen and (max-width: 575px) {
			align-items: center;
		}
	}

	&__column {
		padding: 0 5px;
	}

	&__details {
		flex: 0 0 126px;

		@media screen and (max-width: 767px) {
			flex: 0 0 100px;
		}
	}

	&__price {
		font-weight: 700;
		font-size: 40px;
		line-height: 45px;
		white-space: nowrap;
		transition: 0.3s ease all 0s;

		@media screen and (max-width: 1440px) {
			font-size: calc(14px + 16 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(45 / 30);
		}
	}

	&__button {
		border-top: none;
		width: 100%;
		height: 54px;

		@media screen and (max-width: 450px) {
			height: 38px;
		}

		&:hover {
			background: $bg-color;
		}
	}
}

.details {
	display: flex;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap;

	@media screen and (max-width: 1440px) {
		font-size: calc(10px + 2 * ((100vw - 320px) / (1440 - 320)));
		line-height: calc(18 / 12);
	}

	&__headline {
		flex: 1 1 auto;
		color: #686868;
		padding-right: 5px;

		.headline__title {
			margin-bottom: 7px;

			@media screen and (max-width: 575px) {
				margin-bottom: -2px;
			}
		}
	}

	&__attribute {
		.attribute__text {
			margin-bottom: 7px;

			@media screen and (max-width: 575px) {
				margin-bottom: -2px;
			}
		}
	}
}

.slick-arrow {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	background: transparent;
	border: 1px solid #444;
	width: 35px;
	height: 35px;
	font-size: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s ease all 0s;

	&:hover {
		background: $bg-color;
		border-color: $bg-color;
	}

	&:focus {
		outline: none;
	}

	&::before {
		content: "";
		display: block;
		width: 21px;
		height: 13px;
		background: url(../img/icons/catalog-arrow.svg) no-repeat;
	}
}

.slick-prev {
	right: 55px;
}

.slick-next {
	&::before {
		transform: rotate(180deg);
	}
}

.slick-disabled {
	cursor: not-allowed;
	background: transparent;

	&:hover {
		border-color: #444;
		background: transparent;
	}
}

.slick-dots {
	display: flex;

	li {
		button {
			font-size: 0;
			background: #c4c4c4;
			border: none;
			height: 4px;
			width: 100%;

			&:focus {
				outline: none;
			}
		}

		&.slick-active {
			button {
				background: #fff;
			}
		}
	}
}

.product-content {
	&__row {
		display: flex;
		margin: 0 -15px;

		@media screen and (max-width: 767px) {
			display: block;
		}
	}

	&__column {
		flex: 0 0 50%;
		padding: 0 15px;
		overflow: hidden;
	}

	&__column--first {
		@media screen and (max-width: 767px) {
			padding-bottom: 50px;
		}

		.product-content__name {
			display: none;

			@media screen and (max-width: 767px) {
				display: block;
			}
		}
	}

	&__column--second {
		@media screen and (min-width: 451px) and (max-width: 767px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.product-content__name {
			display: block;

			@media screen and (max-width: 767px) {
				display: none;
			}
		}
	}

	&__item-photoes {
		img {
			max-width: 100%;
			height: auto;

			@media screen and (max-width: 767px) {
				max-width: 280px;
			}
		}
	}

	&__name {
		padding-bottom: 40px;

		@media screen and (max-width: 767px) {
			padding: 0px 50px 20px 0px;
		}

		@media screen and (max-width: 450px) {
			padding-right: 10px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 15px;

		@media screen and (max-width: 1440px) {
			font-size: calc(20px + 4 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(36 / 24);
		}

		@media screen and (max-width: 450px) {
			font-size: calc(20px + 4 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(31 / 24);
		}
	}

	&__vendor {
		font-size: 14px;
		line-height: 21px;

		@media screen and (max-width: 1440px) {
			font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(21 / 14);
		}
	}

	&__prices {
		display: flex;
		margin: 0 -15px 40px;

		@media screen and (max-width: 767px) {
			margin-bottom: 25px;
		}
	}

	&__attributes {
		font-size: 14px;
		line-height: 21px;
		padding-bottom: 32px;

		@media screen and (max-width: 1440px) {
			font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(21 / 14);
		}

		@media screen and (max-width: 767px) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	.slick-list {
		margin-bottom: 70px;

		@media screen and (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	.slick-dots {
		width: 180px;
		margin: 0 auto;
	}

	.pagingInfo {
		display: block;
		width: 100%;
		padding-top: 20px;
		text-align: center;

		@media screen and (max-width: 767px) {
			padding-top: 14px;
		}
	}

	.slick-arrow {
		width: 33px;
		height: 20px;
		top: inherit;
		bottom: 4px;
		transform: translate(0, 50%);
		border: none;
		background: transparent;
		transition: 0.3s ease all 0s;

		&::before {
			width: 17px;
			height: 10px;
			transform: rotate(0);
			background: url(../img/icons/catalog-popup-arrow-active.svg) no-repeat;
		}

		&.slick-prev {
			&::before {
				transform: rotate(180deg);
			}
		}

		&.slick-disabled.slick-next::before {
			transform: rotate(180deg) !important;
		}
	}
	.slick-prev {
		left: 50%;
		transform: translate(-130px, 50%);
	}
	.slick-next {
		right: 50%;
		transform: translate(130px, 50%);
	}
	.slick-disabled {
		&::before {
			background: url(../img/icons/catalog-popup-arrow-disabled.svg) no-repeat;
		}
		&.slick-prev {
			&::before {
				transform: rotate(0deg);
			}
		}
	}

	&__buttons {
		display: flex;
		padding-bottom: 20px;
	}

	&__button {
		margin-right: 20px;
		@media screen and (max-width: 450px) {
			margin-right: 11px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__delivery {
		color: #fff;
		font-size: 14px;
		line-height: 21px;

		@media screen and (max-width: 1440px) {
			font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(21 / 14);
		}
	}
}

.item-photoes {
	&__item {
		&:focus {
			outline: none;
		}

		&.slick-slide {
			display: flex;
			justify-content: center;
		}
	}
}

.prices {
	&__column {
		padding: 0 15px;
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 14px;
		line-height: 21px;
		flex: 1 1 auto;

		@media screen and (max-width: 1440px) {
			font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(21 / 14);
		}
	}

	&__price {
		font-weight: 700;
		font-size: 40px;
		line-height: 60px;

		@media screen and (max-width: 1440px) {
			font-size: calc(28px + 12 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(60 / 40);
		}
	}
}

.about-attributes {
	display: flex;
	margin: 0 -15px 43px;

	@media screen and (max-width: 767px) {
		margin-bottom: 0;
	}

	@media screen and (max-width: 450px) {
		display: block;
	}

	&__sex {
		padding: 0 15px;

		@media screen and (max-width: 450px) {
			padding: 0 15px 10px;
		}

		span {
			padding-left: 6px;
			font-weight: 500;

			@media screen and (max-width: 450px) {
				font-weight: 700;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	&__season {
		padding: 0 15px;
		span {
			padding-left: 6px;

			@media screen and (max-width: 450px) {
				font-weight: 700;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}

.details-attributes {
	display: flex;
	margin: 0 -15px;

	@media screen and (max-width: 767px) {
		padding-bottom: 25px;
	}

	@media screen and (max-width: 450px) {
		display: block;
		margin: 0;
	}

	&__size {
		@media screen and (max-width: 450px) {
			padding: 0 0 25px;
		}
	}

	&__color {
		@media screen and (max-width: 450px) {
			padding: 0;
		}
	}
}

.size {
	&__title {
		color: #fff;
		display: block;
		margin-bottom: 15px;

		@media screen and (max-width: 450px) {
			margin-bottom: 12px;
		}
	}

	&__row {
		display: flex;
	}

	&__item {
		font-weight: 700;
		margin-right: 20px;
		font-size: 18px;
		line-height: 27px;
		&:last-child {
			margin-right: 0;
		}

		@media screen and (min-width: 768px) and (max-width: 991px) {
			margin-right: 10px;
		}
	}
}

.color {
	&__title {
		padding-bottom: 15px;

		@media screen and (max-width: 450px) {
			padding-bottom: 12px;
		}
	}

	&__row {
		display: flex;
	}

	&__item {
		display: block;
		width: 29px;
		height: 29px;
		margin-right: 17px;
		border-radius: 50%;
		color: #cccccc;

		&:last-child {
			margin-right: 0;
		}

		@media screen and (min-width: 768px) and (max-width: 991px) {
			margin-right: 10px;
		}
	}
}
